@import "tailwindcss";

:root {
  --background: #29affc;
  --foreground: #171717;
}

body {
  min-height: 100dvh;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
}
